<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <div>
      <h1>User stuff</h1>
      <p>The mapped shib attributes will display here.</p>
      <ul>
          <li>username: {{ user.username }}</li>
          <li>name: {{ user.first_name }} {{ user.last_name }}</li>
          <li>email: {{ user.email }}</li>
      </ul>
    </div>
    <div>
      <h2>Raw</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          {% for k, v in shib.items %}
            <tr>
              <td>{{ k|escape }}</td>
              <td>{{ v|escape }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>


